.drawer-side-custom {
    pointer-events: none;
    position: fixed;
    inset-inline-start: 0px;
    top: 0px;
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    align-items: flex-start;
    justify-items: start;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior: contain;
    height: 100vh;
    height: 100dvh;
}
.drawer-side-custom > .drawer-overlay {
    position: sticky;
    top: 0px;
    place-self: stretch;
    cursor: pointer;
    background-color: transparent;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 100ms;
}
.drawer-side-custom > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
.drawer-side-custom > *:not(.drawer-overlay) {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
    transition-duration: 500ms;
    will-change: transform;
    transform: translateX(-100%);
}
[dir="rtl"] .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(100%);
}
.drawer-toggle:checked ~ .drawer-side-custom {
    pointer-events: auto;
    visibility: visible;
    overflow-y: auto;
}
.drawer-toggle:checked ~ .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(0%);
}
.drawer-end .drawer-toggle ~ .drawer-side-custom {
    grid-column-start: 2;
    justify-items: end;
}
.drawer-end .drawer-toggle ~ .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(100%);
}
[dir="rtl"] .drawer-end .drawer-toggle ~ .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(-100%);
}
.drawer-end .drawer-toggle:checked ~ .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(0%);
}
.drawer-toggle:checked ~ .drawer-side-custom > .drawer-overlay {
    background-color: #0006;
}
.drawer-open > .drawer-toggle ~ .drawer-side-custom {
    pointer-events: auto;
    visibility: visible;
    position: sticky;
    display: block;
    width: auto;
    overscroll-behavior: auto;
}
.drawer-open > .drawer-toggle ~ .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(0%);
}
[dir="rtl"] .drawer-open > .drawer-toggle ~ .drawer-side-custom > *:not(.drawer-overlay) {
    transform: translateX(0%);
}
.drawer-open > .drawer-toggle:checked ~ .drawer-side-custom {
    pointer-events: auto;
    visibility: visible;
}
.drawer-open > .drawer-side-custom {
    overflow-y: auto;
}
.drawer-open > .drawer-toggle ~ .drawer-side-custom > .drawer-overlay {
    cursor: default;
    background-color: transparent;
}
